name: Test Pull Request
on: [pull_request]
jobs:
  TestPR:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v2
    - name: Setup Go
      uses: actions/setup-go@v1
      with:
        go-version: 1.17
    - name: Run unit tests
      run: |
        go test -mod vendor ./... -cover