name: Test Pull Request
on: [pull_request]
jobs:
  TestPR:
    runs-on: ubuntu-latest
    steps:

    - name: Checkout
      uses: actions/checkout@v6

    - name: Setup Go
      uses: actions/setup-go@v6
      with:
        go-version: '1.26'

    - name: Run unit tests
      run: |
        pwd && ls -ltr && go version && make test